@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
#header {
  grid-area: header; }

.header {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#img_header {
  width: 100%;
  height: fit-content;
  background-color: #ddbea9; }

.fondo {
  background-color: #fcbf49; }

.logo {
  width: 100px;
  height: auto; }
  .logo:hover {
    background-color: #ffecd1; }

.navLink {
  color: #fff;
  text-decoration: none; }
  .navLink:hover {
    text-decoration: none;
    color: #fcbf49;
    background-color: #ffecd1;
    border-radius: 5px; }

* {
  margin: 0;
  padding: 0; }

#texto {
  justify-self: center;
  align-self: center;
  height: 15rem;
  width: 70%;
  margin-bottom: 5%;
  overflow-y: scroll; }

h1 {
  color: #531414;
  text-align: center;
  padding: 5%; }

p {
  color: black; }

#imagen {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  padding-top: 5%; }

.imagen_cita {
  justify-self: center;
  align-self: center; }

#grid {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-template-areas: "header"
 "main"
 "footer";
  background-color: #ffecd1; }

.main {
  grid-area: main; }

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: "texto1 texto1 imagen1"
 "texto2 texto2 imagen2"
 "texto3 texto3 imagen3"
 "texto4 texto4 imagen4";
  gap: 15px;
  padding-bottom: 5%; }

.texto_1 {
  grid-area: texto1; }

.imagen1 {
  grid-area: imagen1; }

.texto_2 {
  grid-area: texto2; }

.imagen1 {
  grid-area: imagen2; }

.texto_3 {
  grid-area: texto3; }

.imagen3 {
  grid-area: imagen3; }

.texto_4 {
  grid-area: texto4; }

.imagen4 {
  grid-area: imagen4; }

@media only screen and (max-width: 600px) {
  .contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: "imagen1"
 "texto1"
 "imagen2"
 "texto2"
 "imagen3"
 "texto3"
 "imagen4"
 "texto4";
    gap: 15px;
    padding-bottom: 5%; } }

footer {
  grid-area: footer;
  background-color: #fcbf49;
  height: 10vh; }

.contenedor-footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.icons {
  font-size: 2rem;
  padding: 20px; }
