footer{
    grid-area: footer;
    background-color: rgb(252, 191, 73);
    height: 10vh;
}
.contenedor-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    font-size: 2rem;
    padding: 20px;
}
