footer{
    grid-area: footer;
    background-color: $color_nav;
    height: 10vh;
}

.contenedor-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    font-size: 2rem;
    padding: 20px;
    color: $color_titulos;
}
