
@mixin estilo_txt_oraciones( $texto_justify , $texto_align , $texto_height, $texto_width, $texto_margin){
    justify-self: $texto_justify;
    align-self: $texto_align;
    height: $texto_height;
    width: $texto_width;
    margin-bottom: $texto_margin;

    
}

#texto{
    @include estilo_txt_oraciones ( center , center , 15rem , 70% , 5% );
    overflow-y: scroll;
}
