.animate__animated.animate__zoomIn {
    --animation-duration: 3seg;
}    

.libro_catalogo img{
    width: 200px;
    height: auto;
}

.libro_catalogo{
    justify-self: center;
    align-self: center;
    padding:3%;
    padding-bottom: 8%;
}