*{
    margin: 0;
    padding: 0;
}



h1{
    color:$color_titulos;
    background-color: $color_fondo;
    padding: 5%;
}

@keyframes opacidad{
    0%{
            opacity: 0;
    }
    100% {
            opacity: 1;
    }
}
.a1{
    animation-name: opacidad;
    animation-duration: 5s;
}



.main{
    grid-area: main;
    background-color: $color_fondo;
}

#logo_index{
    min-width: 172px;
    min-height: 250px;
    grid-area: img_logo;
    width: 25%;   
    
}

.imagen_index{
    width: 70%;
    height: auto;
    justify-self: center;
    align-self: center;
    
}
.texto_index{
    grid-area: texto;
    padding: 6%;
}



#foto1{
    min-width: 172px;
    min-height: 172px;
    grid-area: foto1;
}
#foto2{
    min-width: 172px;
    min-height: 172px;
    grid-area: foto2;
}