#grid_catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    background-color: $color_fondo; 
}

.contenedor_catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    padding: 5%;
    padding-bottom: 5%;
}

@media only screen and (max-width:400px){
    #grid_catalogo{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            grid-template-areas:
            "header "
            "main "
            "footer";
    }
    .contenedor_catalogo{
            display: grid;
                    grid-template-columns: 1fr;
                    grid-auto-rows: auto;
                    gap: 15px;
    }
    .libro_catalogo img{
            width: 120px;
    }
    .logo{
            width:50px;
    }
    .icons{
            font-size: 1rem;
            padding: 10px;
    }
}

@media only screen and (min-width:400px) and (max-width:800px){
    .contenedor_catalogo{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-auto-rows:auto;
            gap:15px;
            padding-bottom:5%;
    
    }
    .libro_catalogo img{
            width: 150px;
    }
    .logo_catalogo{
            width:75px;
    }
    .icons{
            font-size: 1.5rem;
            padding: 20px;
    }
}