.prueba{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

#header{
    grid-area: header;
}

.header{
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#img_header{
    width: 100%;
    height: fit-content;
    background-color: $color_header; 
}

.fondo{
    background-color: $color_nav;
}

.logo{
    width: 100px;
    height: auto;
     &:hover{
         background-color: $color_fondo;
     }
}

.navLink{
    color: #fff;
    text-decoration: none;
     &:hover{
         text-decoration: none;
         color: $color_nav;
         background-color: $color_fondo;
         border-radius: 5px;
     }
}