@import "generales";


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#img_header{
    width: 100%;
    height: fit-content;
    background-color: rgb(221, 190, 169); 
}

.fondo{
    background-color: rgb(252, 191, 73);
}

.logo{
    width: 100px;
    height: auto;
}
.logo:hover{
    background-color: rgb(255, 236, 209);
}



.navLink{
    color: #fff;
    text-decoration: none;
}

.navLink:hover{
    text-decoration: none;
    color: rgb(252, 191, 73);
    background-color: rgb(255, 236, 209);
    border-radius: 5px;
}

h1{
    color:rgb(83, 20, 20);
    text-align: center;
    padding: 5%;
}
p{
    color:black;
}
@keyframes opacidad{
    0%{
            opacity: 0;
    }
    100% {
            opacity: 1;
    }
}
.a1{
    animation-name: opacidad;
    animation-duration: 5s;
}

#grid{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    background-color: rgb(255, 236, 209); 
    
}

#header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
    "texto1 texto1 imagen1"
    "texto2 texto2 imagen2"
    "texto3 texto3 imagen3"
    "texto4 texto4 imagen4";
    gap: 15px;
    padding-bottom: 5%;
    
}






#imagen{
    width: 100%;
    height: 100%;
    padding-bottom:5%;
    padding-top:5%;
}
.imagen_cita{
    justify-self: center;
    align-self: center;
}

.texto_1{
    grid-area: texto1;
}
.imagen1{
    grid-area: imagen1;
}
.texto_2{
    grid-area: texto2;
}
.imagen1{
    grid-area: imagen2;
}
.texto_3{
    grid-area: texto3;
}
.imagen3{
    grid-area: imagen3;
}
.texto_4{
    grid-area: texto4;
}
.imagen4{
    grid-area: imagen4;
}



footer{
    grid-area: footer;
    background-color: rgb(252, 191, 73);
    height: 10vh;
}
.contenedor-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    font-size: 2rem;
    padding: 20px;
}

@media only screen and (max-width:600px){
    .contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        grid-template-areas:
        "imagen1"
        "texto1"
        "imagen2"
        "texto2"
        "imagen3"
        "texto3"
        "imagen4"
        "texto4";
        gap: 15px;
        padding-bottom: 5%;
    }
}